.kontak .sosmed a i {
  color: #000080;
  border: solid;
  border-radius: 50%;
  padding: 10px;
}

.kontak .sosmed a i:hover {
  color: white;
  background: #000080;
  transform: scale(1.3);
  transition: 0.2s ease;
  border-color: transparent;
}

.kontak ul li a {
  color: white;
  text-decoration: none;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
  font-weight: 500;
}

.kontak ul li a:hover,
.kontak ul li a:active,
.kontak ul li a:focus {
  color: #000080;
  border-bottom: 3px solid #000080;
}

.kontak {
  padding: 2rem 0;
}

.kontak ul {
  list-style-type: none;
}
